<div class="row btn-page">

  <div class="col-sm-12 btn-page">
    <app-card [hidHeader]="true" cardClass="card-datatable">
      <div *ngIf="this.isLoading" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <div *ngIf="!this.isLoading" class="row align-items-center m-l-0">
        <div class="col-sm-6"></div>
        <div class="col-sm-6 text-right">
          <button class="btn btn-success btn-sm btn-round has-ripple" (click)=" modalIsto.show()"><i
              class="feather icon-plus"></i> Add
            Details</button>
        </div>

        <!-- Creating transactions -->
        <app-ui-modal #modalIsto [dialogClass]="'modal-xl'">
          <div class="app-modal-header">
            <h5 class="modal-title">Transaction Details</h5>
            <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
              (click)="istoForm.reset(); modalIsto.hide()"><span
                aria-hidden="true">&times;</span></button>
          </div>

          <div class="app-modal-body">
            <form [formGroup]="istoForm">

              <div class="row">
                <!-- First Column -->
                <div class="col-md-6 placeholder">
                  <div class="form-group">
                  <input class="form-control" style="color: black;" placeholder="Transaction Number:     {{ transaction_number }}"
                    [attr.disabled]="true">
                  </div>

                  <div class="form-group">
                    <select class="form-control" formControlName="branch_id">
                      <option value="null">Select Branch</option>
                      <option *ngFor="let branch of allBranches" value="{{ branch.id }}">
                        {{ branch.name }} </option>
                    </select>

                    <p style="color: red;"
                      *ngIf="istoForm.get('branch_id').touched && istoForm.get('branch_id').hasError('required')">
                      Please select Branch
                    </p>
                  </div>
                  <div class="form-group">
                    <select class="form-control">
                      <option value="null">Select Supplier</option>
                      <option *ngFor="let stock of allSuppliers"  value="{{ stock.id }}">
                        {{ stock.name }} </option>
                    </select>
                    <!-- <p style="color: red;" *ngIf="istoForm.get('product').touched && istoForm.get('product').hasError('required')">
                      supplier field required
                    </p> -->
                  </div>
                  <div class="form-group">
                    <select class="form-control" >
                      <option value="null">Select Product</option>
                      <option *ngFor="let stock of allStocks" value="{{ stock.id }}">
                        {{ stock.product }} </option>
                    </select>
                    <!-- <p style="color: red;"
                      *ngIf="istoForm.get('product').touched && istoForm.get('product').hasError('required')">
                      Product field required
                    </p> -->
                  </div>

                  <!-- <div class="form-group">
                    <input type="number" class="form-control" id="cost"
                       placeholder="Cost Price">

                    <p style="color: red;" *ngIf="istoForm.get('cost').touched && istoForm.get('cost  ').hasError('required')">
                      Cost Price field is required
                    </p>
                  </div> -->
                  <!-- <div class="form-group">
                    <input type="number" class="form-control" id="quantity"
                      placeholder="Cost Price">

                    <p style="color: red;" *ngIf="istoForm.get('quantity').touched && istoForm.get('quantity').hasError('required')">
                      Cost Price field is required
                    </p>
                  </div> -->
                  <!-- <div class="form-group">
                    <input type="number" class="form-control" id="total" (change)="totalPrice()" [(ngModel)]="total"
                      formControlName="total" placeholder="Cost Price">

                    <p style="color: red;"
                      *ngIf="istoForm.get('total').touched && istoForm.get('total').hasError('required')">
                      Cost Price field is required
                    </p>
                  </div> -->
                  <div class="form-group">
                    <input type="text" class="form-control"  placeholder="Quantity">

                  </div>
                  <div class="app-modal-footer">
                    <button type="button" class="btn btn-success" color="primary" data-dismiss="modal" (click)="istoForm.reset()">Add</button>
                  </div>


                  <div class="form-group">
                    <input type="number" id="total" [attr.disabled]="true" [(ngModel)]="total" class="form-control"
                      formControlName="total" placeholder="Total">

                    <!-- <p style="color: red;"
                                        *ngIf="receiveSupplierForm.get('total').touched && receiveSupplierForm.get('total').hasError('required')">
                                        Please provide Total products
                                      </p> -->
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" id="status" formControlName="status" placeholder="Status">

                    <p style="color: red;" *ngIf="istoForm.get('status').touched && istoForm.get('status').hasError('required')">
                      Status field is required
                    </p>
                  </div>


                </div>

                <!-- Second Column -->
                <div class="col-md-6">
                  <b>Product Details</b>
                  <table  class="table table-striped table-hover mb-0">
                    <thead>
                      <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Selling Price</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                  <div class="form-group">
                    <input type="number" id="total" [attr.disabled]="true" [(ngModel)]="total" class="form-control"
                      formControlName="total" placeholder="Total">

                    <!-- <p style="color: red;"
                                                          *ngIf="receiveSupplierForm.get('total').touched && receiveSupplierForm.get('total').hasError('required')">
                                                          Please provide Total products
                                                        </p> -->
                  </div>

                </div>
              </div>

            </form>
          </div>

          <div class="app-modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal"
              (click)="istoForm.reset()">Clear</button>
            <button type="button" class="btn btn-primary" [disabled]="!istoForm.valid"
              (click)="createIsto(); istoForm.reset(); modalIsto.hide()">
              Save
            </button>
          </div>
        </app-ui-modal>

      </div>

      <div *ngIf="!this.isLoading" class="table-responsive">
        <table datatable id="report-table" class="table table-striped table-hover mb-0">
          <thead>
            <tr>
              <th>#</th>
              <th>Transaction Number</th>
              <th>Branch</th>
              <th>Total</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let isto of allIsto">
              <td>{{ isto.id }}</td>
              <td>
                <div *ngFor="let stock of allStocks">
                  <div *ngIf="stock.supplier_id == isto.id">{{ isto.name }}</div>
                </div>

                <small class="d-block">
                  <a href="javascript:" (click)="editCustomer.show()">View &
                    Edit</a> |
                  <a href="javascript:" class="text-danger" (click)="confirmAlert(isto?.id)">Delete</a>
                </small>
              </td>
              <td> {{ isto.product }}</td>
              <td>{{ isto.specification }}</td>
              <td>{{ isto.cost_price }}</td>
              <td>{{ isto.selling_price }}</td>

            </tr>
          </tbody>
        </table>


        <!-- view transaction -->
        <app-ui-modal #editCustomer [dialogClass]="'modal-xl'">
          <div class="app-modal-header">
            <h5 class="modal-title"> Details</h5>
            <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
              (click)="editCustomer.hide()"><span
                aria-hidden="true">&times;</span></button>
          </div>

          <div class="app-modal-body">




          </div>

        </app-ui-modal>

      </div>
    </app-card>
  </div>
</div>
