<div class="col-sm-12">
  <app-card cardTitle="Basic Information" [options]="false">

    <div *ngIf="this.isLoading" class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div *ngIf="!this.isLoading" class="row">
      <div class="col-md-3 col-xs-6 border-right">
        <h5>NASOO Company Limited</h5>
        <span class="text-primary">Company</span>
      </div>

      <div class="col-md-2 col-xs-6 border-right">
        <div *ngFor="let branch of allBranches">
          <h5 *ngIf="branch.id == branchID">{{ branch?.name }}</h5>
        </div>
        <span class="text-primary">Store</span>
      </div>

      <div class="col-md-2 col-xs-6 border-right">
        <h5>{{ role }}</h5>
        <span class="text-primary">Role</span>
      </div>

      <div class="col-md-3 col-xs-6 border-right">
        <h5>{{ auth.userData()?.first_name }} {{ auth.userData()?.last_name }}</h5>
        <span class="text-primary">Name</span>
      </div>
      
    </div>
  </app-card>
</div>

<div class="col-sm-12">
  <!-- site Analytics card start -->
  <div class="col-xl-12 col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <app-card [hidHeader]="true" cardClass="bg-primary
                     order-card">
          <h5 class="text-white">Total Products Count</h5>
          <h1 class="text-white">{{ adminStocks }}</h1>
          <a href="">
            <button class="btn waves-effect waves-dark btn-outline-white btn-icon">
              <i class="card-icon feather icon-bar-chart"></i>
            </button>
          </a>
        </app-card>
      </div>

      <div class="col-md-3">
        <app-card [hidHeader]="true" cardClass="bg-primary
                           order-card">
          <h5 class="text-white">Total Staff</h5>
          <h1 class="text-white">{{ totalStaffs }}</h1>
          <a href="">
            <button class="btn waves-effect waves-dark btn-outline-white btn-icon">
              <i class="card-icon feather icon-users"></i>
            </button>
          </a>
        </app-card>
      </div>


    </div>
    <!--
    <div class="row">

    </div> -->
  </div>
</div>
